@model IEnumerable<FitnessBuddy.Models.Program>

@{
    ViewBag.Title = "ProgramList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ProgramList</h2>


<table class="table table-striped table-hover " width="100">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkOut_Plan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Training_Time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Supplments)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr class="info">
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WorkOut_Plan)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Training_Time)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Supplments)
                </td>
            </tr>
            
        }
    </tbody>

</table>
